     body {
         font-family: Arial, sans-serif;
         background-color: #f4f4f4;
         margin: 0;
         padding: 0;
         display: flex;
         justify-content: center;
         align-items: center;
         height: 100vh;
     }

     .fondo {
         background-image: url('img/fondo.jpg');
         background-size: cover;
     }

     .divMain {
         background: #ffffff93;
         padding: 20px;
         border-radius: 8px;
         box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
         width: 300px;
         text-align: center;
         animation: fadein 1.5s;
     }

     @keyframes fadein {
         from {
             opacity: 0;
             transform: translateY(-20px);
         }

         to {
             opacity: 1;
             transform: translateY(0);
         }
     }

     h1 {
         color: #333;
     }

     .informacion {
         text-align: left;
         margin-bottom: 20px;
     }

     label {
         font-weight: bold;
     }

     input[type="text"],
     input[type="password"] {
         margin-top: 10px;
         width: 90%;
         padding: 8px;
         border: 1px solid #ccc;
         border-radius: 4px;
     }

     input[type="checkbox"] {
         margin-left: 5px;
     }

     .divBotonesForm {
         text-align: center;
     }

     .btnForm {
         background: #007BFF;
         color: #fff;
         border: none;
         padding: 10px 20px;
         border-radius: 4px;
         cursor: pointer;
         transition: background-color 0.3s;
     }

     .btnForm:hover {
         background: #0056b3;
     }
    
     .hide{
        display: none;
      }
      
      input[type="submit"]:disabled {
        background-color: #ccc; /* Cambia el color de fondo cuando está desactivado */
        color: #666; /* Cambia el color del texto cuando está desactivado */
        cursor: not-allowed; /* Cambia el cursor cuando está desactivado */
      }
      